.panel {
    -webkit-box-shadow: none !important;
    box-shadow: none;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

#legend {
	background: lightgoldenrodyellow;
	padding: 5px;
	margin: 5px;
	border: 2px solid black;
}