.panel {
    -webkit-box-shadow: none !important;
    box-shadow: none;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

#map-ewaste {
	height: 50%;
}

#map-reg {
	height: 50%;
}

#regdiv {
	height: 400px;
}

#ewastediv {
	height: 400px;
}